<header>
  <h1>
    <a href="">App Soft Labs</a>
  </h1>
  <div>
    <span class="material-icons">
      campaign
    </span>
    <p>39</p>
  </div>
  <div>
    <span class="material-icons">
      mail
    </span>
    <p>57</p>
  </div>
  <div>
    <span class="material-icons">
      insert_comment
    </span>
    <p>68</p>
  </div>
  <div>
    <span class="material-icons">
      forward_to_inbox
    </span>
    <p>58</p>
  </div>
  <div>
    <span class="material-icons">
      call
    </span>
    <p>58</p>
  </div>
  <div>
    <span class="material-icons">
      mobile_screen_share
    </span>
    <p>15</p>
  </div>
  <div>
    <span class="material-icons">
      build
    </span>
  </div>
  <div>
    <span class="material-icons">
      person
    </span>
  </div>
</header>