<article>
  <div class="icon__title">
    <p>Covid-19</p>
    <span class="material-icons">
      bubble_chart
    </span>
  </div>
  <section>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>Colombia</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>Colombia</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>Colombia</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>Colombia</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>Colombia</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>Colombia</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>Colombia</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>Colombia</p>
      </div>
    </div>
  </section>

</article>