<article *ngFor="let infoCountrie of infoCountries">
  <div class="icon__title">
    <p>Covid-19</p>
    <span class="material-icons">
      bubble_chart
    </span>
  </div>
  <section>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Country</h4>
        <p>{{ infoCountrie.Country}}</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Date</h4>
        <p>{{infoCountrie.Date | date: "longDate"}}</p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>New Confirmed</h4>
        <p> {{infoCountrie.NewConfirmed}} </p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>New Recovered</h4>
        <p> {{infoCountrie.NewRecovered}} </p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Total Confirmed</h4>
        <p> {{infoCountrie.TotalConfirmed}} </p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>New Deaths</h4>
        <p> {{infoCountrie.NewDeaths}} </p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Total Deaths</h4>
        <p> {{infoCountrie.TotalDeaths}} </p>
      </div>
    </div>
    <div class="item__filed">
      <span class="material-icons">
        outlined_flag
      </span>
      <div class="">
        <h4>Total Recovered</h4>
        <p> {{infoCountrie.TotalRecovered}} </p>
      </div>
    </div>
  </section>

</article>