<div class="sidebar">
  <a href="">
    <span class="material-icons">
      dashboard
    </span>
    <p>Dashboard</p>
  </a>
  <a href="">
    <span class="material-icons">
      campaign
    </span>
    <p>Campañas</p>
  </a>
  <a href="">
    <span class="material-icons">
      group
    </span>
    <p>Pacientes</p>
  </a>
  <a href="">
    <span class="material-icons">
      summarize
    </span>
    <p>Programas</p>
  </a>
  <a href="">
    <span class="material-icons">
      track_changes
    </span>
    <p>Monitoreo</p>
  </a>
  <a href="">
    <span class="material-icons">
      analytics
    </span>
    <p>Reportes y estadisticas</p>
  </a>
</div>